<div ng-controller="MainCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h1 > </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <!--alertes-->
    <div class="row">

        <div class="alert alert-danger alert-dismissable" ng-hide="batterieVide.data">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true" >&times;</button>
                La batterie est presque vide ! (Bonne chance pour rentrer)
        </div>

        <div class="alert alert-warning alert-dismissable" ng-hide="arretNonVerrouille.data">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                Attention ! Ton vélo est à l'arrêt mais n'est pas vérrouillé.
        </div>

    </div>

    <!-- /.row -->
    <div class="row">
        
        <stats number="{{names.vitesseMax}} km/h" comments="Reccord de vitesse" colour="primary" type="tachometer"></stats>
        <stats number="{{dTotale.data}} km" comments="Distance totale" colour="green" type="road"></stats>
        <stats number="{{dMaxEntre2Charges.data}} km" comments="max. entre deux charges" colour="yellow" type="plug"></stats>
        <stats number="{{tpsSinceLastUse.data}}" comments=" depuis que tu n'as pas pédalé" colour="red" type="clock-o"></stats>

    </div>
    
    <div class="row">
        <div class="col-lg-6 col-sm-12" id="line-chart" >
            <div class="panel panel-default">
                <div class="panel-heading">État de charge</div>
                <div class="panel-body">
                    <canvas id="line" class="chart chart-line chart-xl" data="line.data" labels="line.labels" legend="true"
                    click="line.onClick" series="line.series"></canvas>
                </div>
            </div>
        </div> <!-- fin diagramme de charge-->

        <div class="col-lg-6 col-sm-12" id="bar-chart" >
        <div class="panel panel-default">
            <div class="panel-heading">Distance parcourue par jour</div>
            <div class="panel-body">
                <canvas id="bar" class="chart chart-bar" data="bar.data" labels="bar.labels" series="bar.series"
                options="bar.options"></canvas>
            </div>
        </div>
        </div> <!-- fin diagramme de distance-->

    </div> <!-- fin de la row diagrammes -->

    <!-- /.panel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-star fa-fw"></i> Favoris
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Activité</th>
                                <th>Lieu</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Maison</td>
                                <td>Rennes</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>  <!-- /.table-responsive -->
            </div> <!-- fin  du tableau Favoris -->
            </div>
        </div>  <!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Historique
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Départ</th>
                                <th>Arrivé</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>28.04.15</td>
                                <td>11 square de la grande charbonniere Rennes</td>
                                <td>263 avenue du général Leclerc</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div> <!-- /.table-responsive -->
                </div>
            </div>
        </div> <!-- /.col-lg-4 -->
                
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-road fa-fw"></i> Trajets enregistrés
                </div>
                <!-- /.panel-heading -->
                             <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Départ</th>
                                <th>Arrivé</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>263 avenue du général Leclerc Rennes</td>
                                <td>11 square de la grande charbonniere Rennes</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
                <!-- /.panel-body -->
            </div>
        </div> <!-- /.col-lg-4 -->
    </div><!-- /.row des tableaux -->

    <div>

       <<map center="current-location" zoom="6">
            <info-window position="current-location" visible="true">
                <span>Position actuelle</span>
            </info-window>
        </map>
    </div>
</div>
